.title {
    //margin-top: 10px;
    text-align: center;
    font-size: 32px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Pangolin', 'cursive';
}

.game-selector {
    padding-right: 2%;
    padding-left: 2%;
}